doctype html
html
  head
    style
      include ../static/style.css
   body
    
    section#introsec 
        div  WELCOME TO SHAYAN'S DANCE CLUB 
        div.small  EAT DANCE SLEEP REPEAT 
    section#missionsec 
        h3 OUR MISSION 
        div.card#card1 
            h3 DANCE PERFORMANCE 
        div.card#card2 
            h3 DANCE THE WAY YOU LIKE
        div.card#card3 
            h3 EXPERT TEACHING       

    section#sponsersec 
        h3 OUR SPONSERS 
        div#sponsers 
                img(src="/static/HP_logo.png", alt="HP SPONSER" class="spimg")
                img(src="/static/Skype_logo.png", alt="skype SPONSER" class="spimg")
                img(src="/static/apple-logo.png", alt="apple SPONSER" class="spimg")
                img(src="/static/Microsoft-Logo.jpg", alt="microsoft SPONSER" class="spimg")
                

    footer#footer 
        | Copyright © 2023 ShayanDanceAcademy.com | All rights reserved 
            
    script
      include ../static/index.js